.browse-project{
    background-color: var(--background-color);
    min-height: calc(100vh - 70px);
    padding-top: 55px;
}

.browes-project-layout{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.browse-project-content{
    padding-top: 50px;
}

.browse-project-page-title{
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
}

.browse-project-page-title h3 {
    margin: 0;
}

/* media quairy */
@media(max-width: 992px) {
    .browes-project-layout{
        flex-direction: column;
    }
}

@media(max-width: 552px) {
    .browse-project-content{
        padding-top: 0;
    }
}